<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>César Del Río</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <!-- <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}"> -->
    <!-- Place favicon.ico in the root directory -->
    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block head %}
    {% endblock head %}
    <style>
        {% block css %}
        {% endblock css %}
    </style>
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
    <!-- header-start -->
    <header>
        <div class="header-area" style="background:linear-gradient(to right,  rgb(154, 21, 243),rgb(73, 114, 211) );">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid p-0">
                    <div class="row align-items-center no-gutters">
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo-img">
                                <a href="/">
                                  <!--  <img src="{% static 'img/logo.png' %}" alt=""> -->
				  
				  <a class="navbar-brand fw-bold fst-italic" style="color: white;"  href="/portafolio">Portafolio</a>
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-7">
                            <div class="main-menu  d-none d-lg-block">
				<nav>
                                    <ul id="navigation">
                                        <li><a class="" href="#sobremi">Sobre mí</a>
                                        </li>
                                        <li><a class=""
                                                href="#proyectos">Proyectos</a></li>
                                        <li><a class=""
                                                href="#certificaciones">Certificaciones</a></li>
                                        <li><a class=""
                                                href="#habilidades">Habilidades</a></li>
                                    <li><a class=""
                                                href="#contacto">Contacto</a></li>

					</ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 d-block d-md-none">
                            <div class="log_chat_area d-flex align-items-center">
                                <div class="live_chat_btn ml-3" style="float: left;">
                                    <a href="{% static 'porfolio/CésarDelRíoCV.pdf'%}" class="boxed_btn_orange" href="#">
                                      
                                        <span>Descargar CV</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
    </header>
    {% block body %}
    {% endblock body %}
    <!-- footer -->
    <footer class="">
        <div class="footer_top">
            <div class="container">
                
              
                        <div class="footer_widget">
                           
                            <div class="socail_links">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="ti-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-youtube-play"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-github"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-stack-overflow"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    
                    
                </div>
            </div>
        
       
    </footer>
    <!-- footer -->


    <!-- form itself end
    <form id="test-form" class="white-popup-block mfp-hide" action="/user/login/" method="post">

        <div class="popup_box ">
            <div class="popup_inner">
                <div class="logo text-center">
                    <a href="#">
                        <img src="{% static 'img/form-logo.png' %}" alt="">
                    </a>
                </div>
                <h3>Sign in</h3>
                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <input type="email" placeholder="Enter email" name='email'>
                    </div>
                    <div class="col-xl-12 col-md-12">
                        <input type="password" placeholder="Password" name="Password">
                    </div>
                    {% csrf_token %}
                    <div class="col-xl-12">
                        <button type="submit" class="boxed_btn_orange">Sign in</button>
                    </div>
                </div>

                <p class="doen_have_acc">Don’t have an account? <a class="dont-hav-acc" href="#test-form2">Sign Up</a>
                </p>
                <p class="doen_have_acc"><a class="dont-hav-acc" href="#test-form3">Forget Password</a>
                </p>
            </div>
        </div>
    </form>
  form itself end -->
    <!-- <form id="test-form3" class="white-popup-block mfp-hide" action="/user/reset_password/" method="post"
        style="margin-left:25em;">
        {% csrf_token %}
        <div class="popup_box">
            <div class="popup_inner">
                <div class="logo text-center">
                    <a href="#">
                        <img src="{% static 'img/form-logo.png' %}" alt="">
                    </a>
                </div>
                <h3>Forget Password</h3>
                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <input type="email" placeholder="Enter email" name='email' required='true'>
                    </div>
                    <div class="col-xl-12">
                        <button type="submit" class="boxed_btn_orange">Submit</button>
                    </div>
                </div>
                <p class="doen_have_acc">Don’t have an account? <a class="dont-hav-acc" href="#test-form2">Sign Up</a>
                </p>
            </div>
        </div>
    </form>
    form itself end-->
    <!--  <form id="test-form2" class="white-popup-block mfp-hide" action="/user/signup/" method="post">
        {% csrf_token %}
        <div class="popup_box ">
            <div class="popup_inner">
                <div class="logo text-center">
                    <a href="#">
                        <img src="{% static 'img/form-logo.png' %}" alt="">
                    </a>
                </div>
                <h3>Resistration</h3>
                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <input type="name" placeholder="Enter username" name='name' required='true'>
                    </div>
                    <div class="col-xl-12 col-md-12">
                        <input type="phone" placeholder="Enter mobile number" name='phone' required='true'>
                    </div>
                    <div class="col-xl-12 col-md-12">
                        <input type="email" placeholder="Enter email" name='email' required='true'>
                    </div>
                    <div class="col-xl-12 col-md-12">
                        <input type="password" placeholder="Password" name='pass1' required='true'>
                    </div>
                    <div class="col-xl-12 col-md-12">
                        <input type="Password" placeholder="Confirm password" name='pass2' required='true'>
                    </div>
                    <div class="col-xl-12">
                        <button type="submit" class="boxed_btn_orange">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

  form itself end -->
    <!-- {% if messages %}
    {% for message in messages %}

    <script>
        window.alert("{{ message }}");
    </script> -->

    {% endfor %}
    {% endif %}
    {% block js %}
    {% endblock js %}
    <!-- JS here -->
    <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/ajax-form.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/scrollIt.js' %}"></script>
    <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/gijgo.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
