body{
    background: #090909;
    text-color:#000000;
}
.bg-black{
 background: #000;
}
.img-thumbnail {
   background-color: black;
   border: 2px;
}
.card-project:hover{
    border: 1px solid #fff;
    cursor: pointer;
}
#cuadro{
    max-width: 100%;
    height: 100%;
    background: #000;
    border: 0px solid #fff;
    border-radius: 0px;
    padding: 0px;
    margin: 0px;
}

#imagen{
     width: 382px;
    height: 320px;
    background: #000;
    border: 0px solid #fff;
    border-radius: 0px;
    padding: 0px;
    margin: 0px;
}
.texto{
    color: #fff;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
    padding: 0px;
    margin: 0px;
}
.card-body{
    background: #000;
    border: 0px solid #fff;
    border-radius: 0px;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 200px;
    }