{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Profodel{% endblock %}</title>
         <link rel = "icon" href =
        "{% static 'favicon.png' %}"
        type = "image/x-icon">

	<!-- QUE SE TE PERDIO CARNAL? -->
	<!-- PAGINA BY César Del Río A.K.A KMP  -->
<!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bs4/bootstrap.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'bg.css' %}" />
	<!-- Main Jquery -->
	<script type="text/javascript" src="{% static 'vendor/jquery.min.js' %}"></script>
	<!-- Bootstrap Js -->
	<!-- JavaScript Bundle with Popper -->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>-->	
<script type="text/javascript" src="{% static '/vendor/bs4/bootstrap.min.js' %}"></script>
 <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>

<!--Boostrap jQuery-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>
<body style="background-color:#EEEEFF;">
	<!-- Top News -->



<!-- Navbar  -->
    <nav class="navbar navbar-expand-lg navbar-dark  bg-green" >
      <div class="container " >
		  <img  src="/static/logo.png" alt="" >
        <a class="navbar-brand fw-bold fst-italic"  href="/">Productos Forestales de Delicias</a>
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <ul class="navbar-nav ms-auto">

            <li class="nav-item">
              <a class="nav-link active " aria-current="page" href="{% url 'contacto' %}"></a>
            </li>

            <li class="nav-item">
              <a class="nav-link text-blake" href="{% url 'categorias' %}"><i class="bi bi-tree-fill"></i>Producción</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-blake" href="{% url 'servicios' %}"><i class="bi bi-tools"></i> Servicios</a>
            </li>
<!--            <li class="nav-item">-->
<!--              <a class="nav-link text-blake" href="{% url 'todas_noticias' %}">Produccion</a>-->
<!--            </li>-->
            <li class="nav-item">
              <a class="nav-link text-blake" href="{% url 'galeria' %}"><i class="bi bi-images"></i> Galeria</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-blake" href="{% url 'contacto' %}"><i class="bi bi-telephone-outbound-fill"></i> Contacto</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>


    {% block content %}
    {% endblock %}

<hr/>
<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Volverassssssssssssssssssssssssss arriba</a>
    </p>
    <p class="float-left">
      <i class="bi bi-r-circle"></i> Marca registrada
    </p>
	

     <p class="text-center">
          <a href="https://api.whatsapp.com/send?phone=516391896289" target="_BLANK">
                        <img src="{%static 'whatsapp1.png'%}" > </a>

                        <a href="https://www.facebook.com/Productos-Forestales-de-Delicias-103543502375491" target="_blank">
                            <img src="{%static 'facebook1.png' %}" >
                        </a>

      </p>


  </div>


</footer>

 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>
<!-- PUTO EL QUE LO LEA  -->
