
{% extends 'base.html' %}
{% block content %}
<main class="container-xl">
	<h3 class="border-bottom pb-1 my-4">Produccion de planta</h3>
    <div class="row">
		<!-- Category Box -->
		{% for categoria in categorias %}
		<div class="col-md-4">
			<div class="card rounded shadow-sm  border-top-0">
            <img height="250" width="100" src="{{categoria.categoria_imagen.url}}" class="card-img-top" alt="{{categoria.titulo}}">
			  <div class="card-body">
			    <h5 class="card-title text-light">{{categoria.titulo}}</h5>
			    <hr/>
			    <p class="card-text"><a href="categoria/{{categoria.id}}" class="btn btn-sm btn-outline-info">Ver producción</a></p>
			  </div>
			</div>
		</div>
		{% endfor %}
	</div>
</main>
{% endblock %}
