
{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="mbr-section form4 cid-qv5Aq4h3k3" id="form4-2y" data-rv-view="9854">


    <br>
    <br>

    <div class="container">
        <div class="card2 " >
        <div class="row">
            <div class="col-md-6">
               <div class="google-map" style="align-center" > <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9954.572742037759!2d-105.51481184543285!3d28.14481492259989!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86eb3df140555651%3A0x4af976354193d425!2sVivero%20El%20Forestal!5e1!3m2!1ses!2smx!4v1658356426563!5m2!1ses!2smx" width="550" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
 </div>
            </div >

            <div class="col-md-6 text-center ">
                <h3 class="pb-3  mbr-fonts-style ">
                    <strong>
                        <br>


                    Comunicate con nosotros  en cualquiera de las siguientes opciones</strong>
                    <br>
                </h3>
                <div>
                    <div class="icon-block pb-3">
                        <span class="icon-block__icon">
                            <span class="mbri-letter mbr-iconfont" media-simple="true"></span>
                        </span>
                        <h5 class="icon-block__title align-left mbr-fonts-style display-5">
                             <i class="bi bi-pin-map-fill"> </i>
                            Nos ubicamos en camino real Km. 5.1
                            #600 Col. Campesina Delicias Chihuahua
                        </h5>
                    </div>
                    <div class="icon-contacts pb-3">

                        <p class="mbr-text align-left mbr-fonts-style display-7">
                            <h5>
                           <i class="bi bi-envelope-fill"></i>
                            profodelchih@hotmail.com <br>
                        </h5>
                        <br>
                        <img src="{%static 'facebook.png' %}" >
                        <a href="https://www.facebook.com/Productos-Forestales-de-Delicias-103543502375491" target="_blank">Productos Forestales de Delicias</a>

<!--                        <a href="https://api.whatsapp.com/send?phone=639189122889" target="_blank">639189122889</a>-->
                        <br>
                        <br>
                        <h5><img src="{%static 'whatsapp (1).png'%}" > 639-189-62-89</h5><br>
                        <h5 class="align-left mbr-fonts-style display-7"> <i class="bi bi-telephone-outbound-fill">  </i>
                              639-189-62-89
                        </h5>
                        </p>
                    </div>
                </div>
               
            </div>
        </div>
        </di>
    </div>
</section>

    {% endblock %}