{% extends 'base.html' %}
{% block content %}
<main class="container mt-3 mb-5">
	<!-- featured news -->
	<div class="row my-3">
		<!-- Left -->
		<div class="col-md-8">
			<div class="card mb-3">
                <img src="/media/{{noticia.imagen}}" class="card-img-top" alt="{{noticia.titulo}}">
			  <div class="card-body">
			    <h5 class="card-title">{{noticia.titulo}}</h5>
			    <hr/>
			    <p class="card-text">{{noticia.detalles}}</p>
			  </div>
			  <div class="card-footer">
			  	En <a href="/categoria/{{noticia.categoria.id}}">{{noticia.categoria.titulo}}</a>
			  </div>
			</div>

		<!-- Related News -->
		<div class="col-md-4">
			<h3 class="mb-3 border-bottom pb-1">En esta categoria</h3>
			<!-- Category Box -->
			{% for noticia in noticia_relacionada %}
			<div class="card mb-3 shadow">
                <img src="/media/{{noticia.imagen}}" class="card-img-top" alt="{{noticia.titulo}}">
			  <div class="card-body">
			    <h5 class="card-title">{{noticia.titulo}}</h5>
			    <hr/>
			    <p class="card-text"><a href="/detalles/{{noticia.id}}" class="btn btn-sm btn-primary">Leer más</a></p>
			  </div>
			</div>
			{% endfor %}
		</div>
	</div>
</main>
{% endblock %}