
{% extends 'base.html' %}
{% block content %}
<main class="container-xl">
	<h3 class="border-bottom pb-1 my-4">NAusdasdasdasdestros Servicios</h3>
    <div class="row">
		<!-- Category Box -->
		{% for servicio in servicios %}
		<br>
		<div class="col-md-4">
			<div class="card rounded shadow-sm border-0" style="min-height:410px" >
            <img height="250" width="100" src="{{servicio.servicio_imagen.url}}" class="card-img-top" alt="{{servicio.titulo}}">
			  <div class="card-body">
			    <h5 class="card-title text-light">{{servicio.titulo}}</h5>
			    <hr/>
			    <p class="card-text"><a href="detalleServicio/{{servicio.id}}" class="btn btn-sm btn-outline-info">Ver más</a></p>
			  </div>
			</div>
			<br>
		</div>
		<br>
		{% endfor %}

	</div>

</main>
{% endblock %}
