
{% extends 'base.html' %}
{% block content %}
<main class="container-xl">
	<h3 class="border-bottom pb-1 my-4">Producción {{categoria.titulo}}</h3>
    <!-- News Box -->
    {% for noticia in todas_noticias %}
	<div class="card mb-4 shadow">
	  <div class="row no-gutters">
	    <div class="col-md-3">
            <img  height="150" width="80" src="{{noticia.imagen.url}}" class="card-img-top border-top-1" alt="{{noticia.titulo}}">
	    </div>
	    <div class="col-md-8">
	      <div class="card-body">
	        <h5 class="card-title text-light" >{{noticia.titulo}}</h5>
	        <p class="card-text text-light">{{noticia.detalles}}</p>
	        <p class="card-text"><a href="/detalles/{{noticia.id}}" class="btn btn-sm btn-primary">Leer más</a></p>
	      </div>
	    </div>
	  </div>
    </div>
    {% endfor %}
</main>
{% endblock %}
